.btn {
    margin: auto 5px;
}

.btn-menu.btn-outline-light {
    border-color: whitesmoke;
}

.btn-menu.btn-outline-light:hover {
    color: whitesmoke;
    background-color: transparent;
    box-shadow: 0 0 3px whitesmoke;
}