.btn {
    margin: auto 5px;
}

.btn-menu.btn-outline-light {
    border-color: whitesmoke;
}

.btn-menu.btn-outline-light:hover {
    color: whitesmoke;
    background-color: transparent;
    box-shadow: 0 0 3px whitesmoke;
}

.btn-bdp {
    color: whitesmoke;
    background-color: #7590df;
}
.btn-bdp:hover {
    color: whitesmoke;
    background-color: #5e76bc;
}
