.navbar {
    background-color: rgb(117, 144, 223);
    padding: 0;
}
.navbar-brand {
    font-family: "Comfortaa", "Segoe UI", sans-serif;
    font-weight: bold;
}
.navbar .divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
}
.search-box {
    margin-right: 20px;
}
.search-box input[type="search"] {
    padding: .25rem .5rem;
}

@media screen and (min-width: 767.98px) {
    .search-box {
        justify-content: flex-end;
    }
    .navbar-nav-scroll {
        display: flex;
        flex-basis: auto;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 767.98px) {
    .search-box {
        margin: 0;
    }
    .navbar {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: initial;
    }
    .navbar-brand {
        margin: 0;
    }
    .navbar-nav-scroll {
        max-width: 100%;
        height: 2.5rem;
        margin-top: .25rem;
        overflow: hidden;
        font-size: .875rem;
    }

    .navbar-nav {
        flex-direction: row;
        padding-bottom: 2rem;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}

.lupa {
    margin-left: 5px;
    width: 30px;
    background-color: transparent;
}
.lupa-path {
    fill: whitesmoke;
}
